{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wiki{% endblock %}</title>
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="left-navbar">
                <a href="{% url 'index' %}" class="brand">Wiki</a>
            </div>
            <button class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <div class="right-navbar">
                <form action="{% url 'index' %}" method="get">
                    <input type="search" name="q" placeholder="search">
                </form>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'create' %}">Create New Page</a></li>
                    <li><a href="{% url 'random' %}">Random Page</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>
    <footer>
        <small>&COPY;2023 Leigh Michael Forrest All Rights Reserved.</small>
    </footer>
    <script src="{% static 'encyclopedia/index.js' %}"></script>
</body>
</html>